.dashboard-container {
  min-height: 100vh;
  background-color: #937fc2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-card {
  background-color: #ffffff;
  padding: 3rem 4rem;
  border-radius: 20px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.884);
  text-align: center;
  animation: fadeIn 0.6s ease, float 4s ease-in-out infinite;
}


.welcome-card h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  color: #120030;
  margin-bottom: 0.5rem;
}

.welcome-card p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
