.login-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.login-info-section {
  height: 100%;
  background-color: #120030;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-info-section h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-info-section p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.login-btn-sign-in {
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.login-container-left {
  background-color: #F5F5F7;
  
}

.login-container-forms {
  width: 100%;
  height: 100%;
  padding: 2rem;
  justify-self: center;
}

.login-container-forms h1 {
  margin-top: 3rem;
  margin-bottom: 6rem;
  color: #120030;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-self: center;
}

.login-layout-input-forms {
  display: grid;
  justify-items: center;
}

.login-layout-input-forms input {
  height: 2.5rem;
  width: 25rem;
  border-radius: 20px;
  border: 1px solid #414141;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.login-btn-register {
  display: grid;
  justify-items: center;
}

.login-btn-register button {
  font-size: 1.3rem;
  height: 3rem;
  width: 12rem;
  color: white;
  margin-top: 2rem;
  background-color: #120030;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.login-error {
  color: red;
  margin-top: 1rem;
  text-align: center;
}
