.register-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.info-section {
    height: 100%;
  background-color: #120030;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.info-section h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);

    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}
.info-section p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin-bottom: 0rem;
    text-align: center;
}

.btn-sign-in {
    text-decoration: none;
    height: auto;
    width: 10rem;
    color: inherit;
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.layout-btn-sign-in a{
   text-decoration: none;
    color: #ffffff; 
}

.container-right{
    background-color: #F5F5F7;
}

.container-forms{
    
    width: 100%;
    height: 100%;
    padding: 2rem;
    justify-items: center;
    
    
}

.container-forms h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3rem;
    margin-bottom: 6rem;
    color: #120030;
}



.layout-input-forms{
    width: 20%;
    display: grid;
}

.layout-input-forms input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: auto;
    height: 2.5rem;
    width: 25rem;
    border-radius: 20px;
    border: 1px solid #414141;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}
.btn-register{
    
    justify-self: center;
}

.btn-register button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    height: 3rem;
    min-width: auto;
    width: 12rem;
    padding: 0.5rem;
    color: #ffffff;
    margin-top: 2rem;
    
    background-color: #120030;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5rem;
    
    
    

}